@use '../colors/_color.scss' as c;


.bg{
        background-color: c.$Card-Color;
        margin: 10px;
        border-radius: 10px;
        color: white;
        padding: 5px;
        max-height: 300px;

}