
@use '../colors/_color.scss' as c;
@use '../GlobStalying/_border.scss' as b;

.bg{
  
    margin: 5px;
    display: grid;
    grid-template-columns: 1fr;
    border-radius: b.$border-rad;
    padding: 5px;
  
    max-height: 100%;
    min-width: max-content;
    max-width: 70%;
    background-color: c.$BoxColor;
}

.images{
    height: 160px;
    border-radius: b.$border-rad;

}
.cont{
    background-color: c.$BoxColor;
    border-radius: b.$border-rad;
    border: 2px solid c.$Card-Tekst;
    color: aliceblue;
  
}