

@use './colors/color' as c;


.cont {  
    background-color: c.$bg-color;
    margin: 1px;
   
    border-radius: 10px;
        min-height: 99vh;
    display: grid;
  
   
  }


  .Topbox{
    display: grid;
    grid-template-columns: 3fr 1fr ;
   
  }

  
  .midBox{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-top: 20px;
    min-height: 350px;
    margin-bottom: -20px;
}
  
  .BottomBox{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    min-height: 400px;
  }
 


 