$Card-BG: #36373C;
$Card-Tekst: #CF5C36;

.bgCard{
  $Card-BG: #36373C;
}

.Cards{
  height: 55%;
  min-width: 200px;
   background-color: #36373C;
   margin: 10px;
   position:relative;
}


.Text{
  position: absolute;
  right: 0px;
  bottom: 0px;  
  padding: 5px;
  color: #CF5C36;
}