
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400&family=Passion+One:wght@400;700;900&display=swap');

$bg-color: #333335;
$Organg-color: #CF5C36;




body {
  background-color: $bg-color;
  color: #333;
  font-family: 'Lexend Deca', 'sans-serif';
  margin: 0;

}

p{
  color: $Organg-color;
}



.not-found{
  text-align: center;
}

.not-found a{
    color: #4979ff;
    text-decoration: underline;
}