
@use './colors/color' as c;

@use './GlobStalying/_border.scss' as b;

.Bg{
    background-color: c.$Card-Tekst;
    margin: 5px;
    border-radius: b.$border-rad;
    display: grid;
    grid-template-columns: 1fr;
    line-height: 50px;
    max-width: 100px;
}




/*logo*/
.LogoNext{
    text-align: center;
}




/*Tekst buttons*/
.texttholder{
    display: grid;
    grid-template-columns: auto;
    grid-gap: 1px;
    justify-content: center;
    text-align: center;
    color: #000;
    
}



.aTags{
    color:white;
    text-decoration: none;
    text-align: center;


  }
  .content {
    
    margin: 0 auto;
  }
  
  /*home button*/

  .homebutton{
    text-align: center;
    margin-top: 50px;
    bottom: 0;
  }